<a href="https://colab.research.google.com/github/ArjallaHarees/AI-ML-Insternship/blob/main/ASSIGNMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Task 1--
a=[1,2,3,4,5,6]
b=[7,8,9,6]
a+b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 6]

In [ ]:
#Task 2--
num= int(input("enter your number: "))
if (num%2) == 0:
  print("{0} is Even".format(num))
else:
   print(" is odd".format(num))

enter your number: 3
 is odd

In [ ]:
#Task 3--
d1 ={'S.no':[1,2,3],'Name':['hareesh','gopi','ganesh'],'Rollno':[9,8,11]}
d1


{'S.no': [1,2,3],
 'Name': ['hareesh','gopi','ganesh'],
  'Rollno': [9,8,11]}

{'S.no': [1, 2, 3],
 'Name': ['hareesh', 'gopi', 'ganesh'],
 'Rollno': [9, 8, 11]}

In [ ]:
#Task 4--
def find_odd_numbers(start,end):
    for num in range(start,end + 1):
        if num % 2 != 0:
            print(num)

find_odd_numbers(1,10)

1
3
5
7
9

In [ ]:
#Task 5--
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((8,2,3,0,7)))

20